@model ExrWeb.Models.Exercise

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Exercise";
}

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")

}

<script>
  $( function() {
      $("#ExDate").datepicker({
          changeMonth: true,
          changeYear: true,
          minDate: -20,
          maxDate: "+1M +5D"
      });
  } 
   );
</script>

<h2>Edit</h2>

<h2 style="color:red">@ViewBag.Error</h2>


@using (Html.BeginForm("Edit", "Exercise", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <!--@Html.ValidationSummary() -->

<div class="form-group">
    @Html.Partial("props", Model)

    <div class="form-group">
        @Html.ActionLink("Cancel", "List", "Exercise", new { @class = "btn btn-primary" })
        <input type="submit" value="Edit" accesskey="I" title="[Alt+I]"
               class="btn btn-primary" />
    </div>
</div>
    }

    <br />



