@model ExrWeb.Models.Exercise

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Exercise";
}

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")

}

<script>
  $( function() {
      $("#ExDate").datepicker({
          changeMonth: true,
          changeYear: true,
          minDate: -20,
          maxDate: "+1M +5D"
      });
  } 
   );
</script>

<h2>@ViewBag.Title</h2>

<h2 style="color:red">@ViewBag.Error</h2>

    @Html.Partial("props", Model)

    <br />

    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Machine</th>
                <th>#reps</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td>Shoulder Press</td>
                <td>10</td>
                <td>10/20/2018</td>
            </tr>
            <tr class="alert-info">
                <td>Shoulder Press</td>
                <td>10</td>
                <td>10/20/2018</td>
            </tr>
        </tbody>
    </table>



