@model ExrWeb.Models.Exercise

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Exercise";
}

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")

}

<script>
  $( function() {
      $("#ExDate").datepicker({
          changeMonth: true,
          changeYear: true,
          minDate: -20,
          maxDate: "+1M +5D"
      });
  } 
   );
</script>

<h2>@ViewBag.Title</h2>

<h2 style="color:red">@ViewBag.Error</h2>


@using (Html.BeginForm("Add", "Exercise", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <!--@Html.ValidationSummary() -->

<div class="form-group">
    <label>Machine</label>
    @Html.DropDownListFor(m => m.Machine, ViewBag.MachineList as MultiSelectList, new { @class = "form-control" })
    <!-- Html.TextBoxFor(m => m.Machine, new { class = "form-control" })-->
    @Html.ValidationMessageFor(m => m.Machine)
</div>
    <div class="form-group">
        <label>#Reps</label>
        @Html.TextBoxFor(m => m.NumReps, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumReps)
    </div>
    <div class="form-group">
        <label>Date</label>
        @Html.TextBoxFor(m => m.ExDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ExDate)
    </div>
    <div class="form-group">
        <input type="submit" value="Add" accesskey="A" title="[Alt+A]"
               class="btn btn-primary" />
    </div>
}

<br />

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Machine</th>
            <th>#reps</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success">
            <td>Shoulder Press</td>
            <td>10</td>
            <td>10/20/2018</td>
        </tr>
        <tr class="alert-info">
            <td>Shoulder Press</td>
            <td>10</td>
            <td>10/20/2018</td>
        </tr>
    </tbody>
</table>



