@using ExrWeb.Models
@model List<ExrWeb.Models.Exercise>

@{
    ViewBag.Title = "List";
}

<h2 style="font-style:italic">Exercise List</h2>

<label># exercises</label>
@Html.TextBoxFor(m => m.Count, new { style="Width:80px;background-color:whiteSmoke",  @readonly = "readonly", Title = "Count" })

<br />
<br />

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Machine</th>
            <th>#reps</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>


        @{string cls; }
        @foreach (Exercise ex in Model)
        {
            {
                if (ex.NumReps > 5)
                {
                    cls = "success";
                }
                else
                {
                    cls = "alert-info";
                }
            }

            <!-- class = "btn btn-success"-->

            <tr class=@cls>
                <td>@ex.ID</td>
                <td>@ex.Machine</td>
                <td>@ex.NumReps</td>
                <td>@String.Format("{0:MM-dd-yyyy}",ex.ExDate)</td>
                <td width="80px">
                    @Html.ActionLink("Delete", "Delete", new { id = ex.ID},
               new {Accesskey = "T", Title = "Delete Exercise [Alt+T]",
                   @style = "background:url('../../Content/Images/delete.png') no-repeat center right; display:block; height: 20px; width: 60px",
                   onclick = "return confirm('Do you really want to delete object ID " + ex.ID + "?')"
               })
            </td>
            <td width="65px">
                @Html.ActionLink("Edit", "Edit", new { id = ex.ID},
           new { Accesskey = "I", Title = "Edit Exercise [Alt+I]" ,
               @style = "background:url('../../Content/Images/edit.png') no-repeat center right; display:block; height: 20px; width: 43px"
               //onclick="alert('Edit')"
           })
        </td>
    </tr>
}

    </tbody>
</table>
