@using ExrWeb.Models
@model List<ExrWeb.Models.Exercise>

@{
    ViewBag.Title = "List";
}

<h2>Exercise List</h2>

<!--  ***next - edit w/modal dlg?    -->

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Machine</th>
            <th>#reps</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>


        @{string cls; }
        @foreach (Exercise ex in Model)
        {
            {
                if (ex.NumReps > 5)
                {
                    cls = "success";
                }
                else
                {
                    cls = "alert-info";
                }
            }

        <tr class=@cls>
            <td>@ex.Machine</td>
            <td>@ex.NumReps</td>
            <td>@ex.ExDate</td>
            <td>@Html.ActionLink("Delete", "Delete", new { machine = ex.Machine })</td>
            <td>@Html.ActionLink("Edit", "Edit", new { machine = ex.Machine })</td>
        </tr>
        }

    </tbody>
</table>
