@using ExrWeb.Models
@model List<ExrWeb.Models.Exercise>

@{
    ViewBag.Title = "List";
}

<h2 style="font-style:italic">Exercise List</h2>

<label># exercises</label>
@Html.TextBoxFor(m => m.Count, new { style = "Width:80px;background-color:whiteSmoke", @readonly = "readonly", Title = "Count" })

@Html.ActionLink("Add", "Add", "Exercise", new { @class = "btn btn-primary button-img-add", accesskey = "A", Title = "[Alt+A]",
    style = "margin-left:50px" }
)

<!-- *****next toggle button or ckbox... -->
@{string clsBtn;}
@{if (ViewBag.Filtered!=null && ViewBag.Filtered)
    {
        clsBtn= "btn btn-primary button-img-filter";
    }
    else
    {
        clsBtn= "btn btn-primary button-img-filter_off";
    }
}

@Html.ActionLink("Low", "LowFilter", "Exercise", new { @class = clsBtn, accesskey = "L", Title = "[Alt+L]" })

<br />
<br />

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Machine</th>
            <th>#reps</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>


        @{string cls; }
        @foreach (Exercise ex in Model)
        {
            {
                if (ex.NumReps >= 10)
                {
                    cls = "alert-success";
                }
                else if (ex.NumReps >= 5)
                {
                    cls = "alert-warning";
                }
                else
                {
                    cls = "alert-danger";
                }
            }

            <!-- class = "btn btn-success"-->

            <tr class=@cls>
                <td>@ex.ID</td>
                <td>@ex.Machine</td>
                <td>@ex.NumReps</td>
                <td>@String.Format("{0:MM-dd-yyyy}", ex.ExDate)</td>
                <td width="80px">
                    @Html.ActionLink("Delete", "Delete", new { id = ex.ID},
               new {Accesskey = "T", Title = "Delete Exercise [Alt+T]",
                   @style = "background:url('../../Content/Images/delete.png') no-repeat center right; display:block; height: 20px; width: 60px",
                   onclick = "return confirm('Are you sure about deleting exercise # " + ex.ID + "?')"
               })
                </td>
                <td width="65px">
                    @Html.ActionLink("Edit", "Edit", new { id = ex.ID},
               new { Accesskey = "I", Title = "Edit Exercise [Alt+I]" ,
                   @style = "background:url('../../Content/Images/edit.png') no-repeat center right; display:block; height: 20px; width: 43px"
                   //onclick="alert('Edit')"
               })
                </td>
            </tr>
        }

    </tbody>
</table>
